.custom-control-indicator {
    top: 0.65rem;
}

/* Hide input type=number spinner */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.form-group {
    margin-bottom: 8px;
}

h6 {
    margin-bottom: 1rem;
}