<div class="row form-group">
  <div class="col-3">
    <label>Preis</label>
  </div>

  <div class="col-3 input-group">
    <input id="price" class="form-control" type="number" [(ngModel)]="value.Price" [disabled]="!edit">
  </div>

  <div class="col-3 input-group">
    <input id="currency" class="form-control" *ngIf="!edit" [(ngModel)]="value.Currency" disabled>
    <select id="currency" class="form-control" *ngIf="edit" [(ngModel)]="value.Currency">
      <option *ngFor="let c of currencies" [value]="c">{{c}}</option>
    </select>
  </div>

  <div class="col text-nowrap" [class.noMargin]="!label">
    <button *ngIf="!edit" id="edit" (click)="toogle()" class="btn btn-sm btn-outline-info"><i
            class="material-icons">edit</i></button>
    <button *ngIf="edit" id="ok" (click)="save()" class="btn btn-sm btn-outline-success"><i class="material-icons">done</i>
    </button>
    <button *ngIf="edit" id="cancel" (click)="reset()" class="btn btn-sm btn-outline-danger"><i
            class="material-icons">clear</i></button>
  </div>
</div>